{{ define "partials_index_left" }}

<h3 id="current-projects">Current projects</h3>

<ul>
    <li>
        <a href="https://www.instagram.com/vocabzine/">Vocabzine</a> - An online vocabulary magazine.
    </li>
</ul>

<p>
    More at <a href="https://github.com/dilekerkut/">GitHub.com</a>.
</p>

<h3 id="writing-and-presentations">
    Open source contributions (translation and localization)
</h3>

<ul>
    <li>
        <a href="https://github.com/symfony/symfony/pull/45329">Symfony</a>
    </li>
    <li>
        <a href="https://github.com/logaretm/vee-validate/pull/3687">vee-validate</a>
    </li>
    <li>
        <a href="https://github.com/lokalise/i18n-ally/pull/733">i18n-ally</a>
    </li>
</ul>

{{ end }}
